<div class="jumbotron text-center">
	<h1>Mentor Sign Up - SUPERBASIC</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

		<h1 class="text-center">Account Information</h1>

			<form class="form-horizontal" onsubmit="return validateForm()" action="/mentor-signup" method="POST">

			{{!-- ====================== --}}

				

				<br>

				

				<div class="form-group">
					<div class="input-group">
					  	<span class="input-group-addon"><i class="fa fa-child fa-fw fa-lg" aria-hidden="true"></i></span>
					  	<input class="form-control input-lg form-input" type="text" name="name" id="name" placeholder="Name" required>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
					  	<span class="input-group-addon"><i class="fa fa-envelope fa-fw fa-lg" aria-hidden="true"></i></span>
					  	<input class="form-control input-lg form-input" type="email" name="email" id="email" placeholder="Email" required>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
					  	<span class="input-group-addon"><i class="fa fa-user fa-fw fa-lg" aria-hidden="true"></i></span>
					  	<input class="form-control input-lg form-input" type="text" name="username" id="username" placeholder="Username" required>
					</div>
				</div>

				<div class="form-group" id="passworddiv">
					<div class="col-md-6 noleftpadding">
						<div class="input-group">
						  	<span class="input-group-addon"><i class="fa fa-lock fa-fw fa-lg" aria-hidden="true"></i></span>
						  	<input class="form-control input-lg form-input" type="text" name="password" id="password" placeholder="Password" required>
						</div>
					</div>
					<div class="col-md-6 norightpadding">
						<div class="input-group">
						  	<span class="input-group-addon"><i class="fa fa-lock fa-fw fa-lg" aria-hidden="true"></i></span>
						  	<input class="form-control input-lg form-input" type="text" name="passwordconfirm" id="passwordconfirm" placeholder="Confirm Password" required>
						</div>
					</div>
				</div>

				<br>

				<hr>

				{{!-- <h2 class="text-center">Support Questions</h2> --}}

			{{!-- ================================================ --}}

				{{!-- <div class="form-group">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input class="form-control input-lg form-input" name="name" id="name" placeholder="Name" required>
					</div>
			  	</div> --}}

			  	{{!-- <div class="form-group">
					<label for="email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control input-lg form-input" name="email" id="email" placeholder="Email" required>
					</div>
			  	</div> --}}

			  	{{!-- <div class="form-group">
					<label for="username" class="col-sm-2 control-label">Username</label>
					<div class="col-sm-10">
						<input class="form-control input-lg form-input" name="username" id="username" placeholder="Username" required>
					</div>
			  	</div> --}}

			  	{{#if error}}
			  	<p>THERE WAS AN ERROR</p>
			  	{{/if}}

			  	{{!-- <div class="form-group" id="passworddiv">
					<label for="password" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-10">
						<input class="form-control input-lg form-input" name="password" id="password" placeholder="Password" required>
					</div>
			  	</div> --}}

			  	{{!-- <div class="form-group" id="confirmpassworddiv">
					<label for="email" class="col-sm-2 control-label">Confirm Password</label>
					<div class="col-sm-10">
						<input class="form-control input-lg form-input" name="passwordconfirm" id="passwordconfirm" placeholder="Confirm Password" required>
					</div>
			  	</div> --}}
				
				<div class="form-group">
					<h3>What section are you in?</h3>
					<br>
					{{!-- <label for="section" class="col-sm-2 control-label">Section</label> --}}
					<div class="col-sm-8 col-md-offset-2">
						<select class="form-control input-lg form-input" name="section">
						  	<option value="Section 1">Section 1</option>
						  	<option value="Section 2">Section 2</option>
						  	<option value="Section 3">Section 3</option>
						  	<option value="Section 4">Section 4</option>
						  	<option value="Section 5">Section 5</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<h3>On a scale of 1-5, how comfortable are you with material covered in weeks 1-7 (HTML, CSS, JavaScript, jQuery)?</h3>
					<br>
					{{!-- <label for="comfortLevel" class="control-label">How comfortable are you with material covered in weeks 1-7 (HTML, CSS, JavaScript, jQuery)?</label> --}}
					<div class="col-sm-8 col-sm-offset-2">
						<select class="form-control input-lg form-input" name="comfortLevel">
						  	<option value="1">1</option>
						  	<option value="2">2</option>
						  	<option value="3">3</option>
						  	<option value="4">4</option>
						  	<option value="5">5</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<h3>What subjects are you most comfortable offering help with?</h3>
					<br>
					{{!-- <label for="subjects" class="col-sm-2 control-label">What subjects are you most comfortable offering help with?</label> --}}
					<div class="col-sm-8 col-sm-offset-2">
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="peptalk-advice" name="subjects">
						    	Pep-Talk & Advice
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="htmlcss" name="subjects">
						    	HTML Layouts (HTML, CSS)
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="bootstrap" name="subjects">
						    	Bootstrap Layouts
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="javascript" name="subjects">
						    	JavaScript Fundamentals (Hangman, etc.)
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="node" name="subjects">
						    	Node.js
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="jquery" name="subjects">
						    	jQuery HTML Manipulation
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="ajax" name="subjects">
						    	JavaScript AJAX
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="firebase" name="subjects">
						    	Firebase
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="mysql" name="subjects">
						    	Database (MySQL)
						  	</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<h3>When are you usually available?</h3>
					<br>
					{{!-- <label for="availability" class="col-sm-2 control-label">When are you available?</label> --}}
					<div class="col-sm-8 col-sm-offset-2">
						<select class="form-control input-lg form-input" name="availability">
						  	<option value="weekday-day">Weekdays (day)</option>
						  	<option value="weekday-evening">Weekdays (evening)</option>
						  	<option value="weekend-day">Weekends (day)</option>
						  	<option value="weekend-evening">Weekends (evening)</option>
						</select>
					</div>
				</div>

				<br>

				<hr>

				<br>

			  	<div class="form-group">
					<div class="col-sm-offset-3 col-sm-6">
				  		<button type="submit" class="btn btn-success btn-block btn-lg btn-test bottom-button">Sign Up!</button>
					</div>
			  	</div>
			</form>
			
		</div>
	</div>
</div>

<script>

	function validateForm() {

		if ( $("#password").val() != $("#passwordconfirm").val() ) {
			$("#passworddiv").addClass("has-error has-feedback")
			$('html, body').animate({
		        scrollTop: $("#passworddiv").offset().top
		    }, 200);
			return false
		}

	}

</script>

<style>

	.form-input {
	  background: #fafafa;
	  border: 1px solid #bfbfbf;
	  border-radius: 2px;
	  padding: 12px 16px;
	  min-width: 25%;
	}

	.btn-test {
		border-radius: 0.2rem;
	}

	h2, a, button, input, p, h1, label, option, select, h4, h3 {
		font-family: 'Raleway', sans-serif;
	}

	.noleftpadding {
		padding-left: 0px;
	}

	.norightpadding {
		padding-right: 0px;
	}

	.bottom-button {
		margin-bottom: 30px;
	}

	h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
		color: #2c3e50;
	}

</style>