<div class="jumbotron text-center">
	<h1>Student Request - SUPERBASIC</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">

			<form class="form-horizontal" action="/student-signup" method="POST">



				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input class="form-control" name="name" id="name" placeholder="Name" required>
					</div>
			  	</div>

			  	<div class="form-group">
					<label for="email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
					</div>
			  	</div>
				
				<div class="form-group">
					<label for="section" class="col-sm-2 control-label">Section</label>
					<div class="col-sm-10">
						<select class="form-control" name="section">
						  	<option value="1">1</option>
						  	<option value="2">2</option>
						  	<option value="3">3</option>
						  	<option value="4">4</option>
						  	<option value="5">5</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="comfortLevel" class="col-sm-2 control-label">How comfortable are you with material in class?</label>
					<div class="col-sm-10">
						<select class="form-control" name="comfortLevel">
						  	<option value="1">1</option>
						  	<option value="2">2</option>
						  	<option value="3">3</option>
						  	<option value="4">4</option>
						  	<option value="5">5</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="subjects" class="col-sm-2 control-label">What do you want to cover?</label>
					<div class="col-sm-10">
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="peptalk-advice" name="subjects">
						    	Pep-Talk & Advice
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="htmlcss" name="subjects">
						    	HTML Layouts (HTML, CSS)
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="bootstrap" name="subjects">
						    	Bootstrap Layouts
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="javascript" name="subjects">
						    	JavaScript Fundamentals (Hangman, etc.)
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="node" name="subjects">
						    	Node.js
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="jquery" name="subjects">
						    	jQuery HTML Manipulation
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="ajax" name="subjects">
						    	JavaScript AJAX
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="firebase" name="subjects">
						    	Firebase
						  	</label>
						</div>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" value="mysql" name="subjects">
						    	Database (MySQL)
						  	</label>
						</div>
					</div>
				</div>

				<!-- <div class="form-group">
					<label for="subjects" class="col-sm-2 control-label">What do you want help with?</label>
					<div class="col-sm-10">
						<select class="form-control" name="subjects">
						  	<option value="peptalk-advice">Pep-Talk & Advice</option>
						  	<option value="htmlcss">HTML Layouts (HTML, CSS)</option>
						  	<option value="bootstrap">Bootstrap Layouts</option>
						  	<option value="javascript">JavaScript Fundamentals (Hangman, etc.)</option>
						  	<option value="node">Node.js</option>
						  	<option value="jquery">jQuery HTML Manipulation</option>
						  	<option value="ajax">JavaScript AJAX</option>
						  	<option value="firebase">Firebase</option>
						  	<option value="mysql">Database (MySQL)</option>
						</select>
					</div>
				</div> -->

				<div class="form-group">
					<label for="availability" class="col-sm-2 control-label">When are you available?</label>
					<div class="col-sm-10">
						<select class="form-control" name="availability">
						  	<option value="1">1</option>
						  	<option value="2">2</option>
						  	<option value="3">3</option>
						  	<option value="4">4</option>
						  	<option value="5">5</option>
						</select>
					</div>
				</div>

			  	<div class="form-group">
					<label for="extrainfo" class="col-sm-2 control-label">Any thing else?</label>
					<div class="col-sm-10">
				  		<textarea class="form-control" rows="3" name="additionalinfo"></textarea>
					</div>
			  	</div>

			  	<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
				  		<button type="submit" class="btn btn-default">Submit</button>
					</div>
			  	</div>
			</form>
			
		</div>
	</div>
</div>

<script>

	// var originURL = document.location.origin;
	// $(document).ready(function () {

	// 	$.get( originURL + "/api/colleges", function( data ) {

	// 		for (i = 0; i < data.length; i++) {

	// 			$("#collegeSelect").append('<option data-schoolid="' + i + '" value="'+data[i].name+'">'+data[i].name+'</option>')
 
	// 		}

	// 		$("#collegeSelect").on("change", function(){
	// 			console.log(this.value)
	// 			// console.log( $(this) )
	// 			// console.log( $(this).data('schoolid') )
	// 			// console.log( $(this).find(":selected").data('schoolid') )

	// 			var schoolid = $(this).find(":selected").data('schoolid');
	// 			console.log('schoolid', schoolid)

	// 			$("#sectionSelect").empty()
	// 			$("#sectionSelect").append('<option value="" selected disabled> Please select your section </option>')

	// 			for ( i = 0; i < data[schoolid].sections.length; i++) {
	// 				$("#sectionSelect").attr('disabled', false)
	// 				$("#sectionSelect").append('<option value="'+data[schoolid].sections[i]+'">'+data[schoolid].sections[i]+'</option>')
	// 			}

	// 			$("#sectionSelect").on("change", function(){
	// 				// console.log(this.value)
	// 				console.log( $("#sectionSelect").val() )
	// 			})
				
	// 		})

	// 	  	console.log(data)
	// 	});

	// 	// $("#collegeSelect").on("change", function(){
	// 	// 	console.log(this.value)

	// 	// 	$.get( originURL + "/api/colleges", function( data ) {

	// 	// 		for (i = 0; i < data.length; i++) {
	// 	// 		$("#collegeSelect").append('<option value="'+data[i].name+'">'+data[i].name+'</option>')

	// 	// 			// data[i].name 
	// 	// 		}

	// 	// 	  	console.log(data)
	// 	// 	});

	// 	//   // This code will fire every time the user selects something
	// 	// })

	// });




</script>